<h1>YOU WOULD LIKE SOME FEMSLASH YES?</h1>
<h2><i>Your incredible new pairing is...</i></h2>
<h3>{{woman1}} (age {{age1}}) <i>and</i> {{woman2}} (age {{age2}})</h3>

<hr/>
<form action="/">
    <label for="reference_year">Reference year:</label>
    <input type="number" min=2001 max=2028 value={{reference_year}} id="reference_year" name="reference_year">
    <input type="submit" value="Generate anew">
</form>
<i>If this pairing seems strange, consider the timeframe used as reference (in this case, {{reference_year}}).</i> <br/>
<i>The logic governing age gaps can be found <a href="https://xkcd.com/314/">here</a>, plus the stipulation that no one younger than 18 is dating anyone older than 18.</i>
<hr/>
<a href="/women">View the character list here</a>